cx-Oracle>=7.2.3
Flask>=1.1.1
Flask-Jsonpify==1.5.0
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.4.1
python-dateutil==2.8.0
requests==2.31.0
simple-rest-client==1.0.0
simplejson==3.16.0
SQLAlchemy==1.3.10
urllib3>=1.25.6
